# Firebase credentials
firebase-adminsdk.json

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
# Ignore all log files in any directory
*.log

# Ignore specific log files or directories
logs/
*.logs
alliance_copy/*.log
/logs/*.log

# Environment variables
.env

# Virtual Environment
venv/
env/

# IDE settings
.vscode/
.idea/

# Downloaded files and temp directories
downloads/
temp/
downloaded_tickets/
screenshots/

# Distribution / packaging
dist/
build/
*.egg-info/
.vercel
# Large files and logs
*.log
**/*.log
alliance_scraper.log
**/alliance_scraper.log
*.gz
*.tar
*.zip
*.7z
*.rar
*.mp4
*.iso
*.bin

# Specific large files

*.log
**/*.log
alliance_scraper.log
**/alliance_scraper.log
logs/